.section-padding{
    padding: 50px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;

}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
}

.carousel-caption p{
    width: 60;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-Light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-Light .navbar-brand:focus,
.navbar-Light .navbar-brand:hover{
    -ms-text-combine-horizontal: #000;
}
.navbar-Light .navbar-nav .navbar-Link{
    color: #000;
}
.w-100{
    height: 100vh;
}


/* ******responsive css******* */
@media only screen and (max-width: 767px) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }

    .carousel-caption p{
        width: 100%;
       
    }
    .card{
        margin-bottom: 30px;
    }
    .img-area img { 
        width: 100%;
     }
}


@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }

    .carousel-caption{
        bottom: 125px;
    }

    .carousel-caption h5{
        
        font-size: 17px;
    }

    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
}


/* service */

.service .card-body{
    font-size: 50px;
}

.team .card-body{
    font-size: 20px;
    
}

.team .card{
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio  .card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* landing page navbar css*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #898989, hsl(120, 1%, 30%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
  }
  

  /* TeamSection.css */
.team-section {
    padding: 20px;
  }
  
  .section-header {
    padding-bottom: 20px;
  }
  
  .card {
    height: 100%;
  }
  
  .social {
    margin-top: 10px;
  }
  
  @media (max-width: 576px) {
    .card {
      margin-bottom: 20px;
    }
  }

  
  /* CardSlider.css */


  .card-slider {
    overflow: hidden; /* Hide the horizontal scrollbar */
    padding: 20px 0; /* Add some padding for better appearance */
  }
  
  .slick-slide {
    display: flex; /* Ensure the slides use flexbox for alignment */
    justify-content: center; /* Center the content horizontally */
    padding: 10px; /* Add some padding around each slide */
  }
  
  .slick-prev, .slick-next {
    z-index: 1; /* Ensure arrows are above the slider content */
  }
  
 .contact-link {
  text-decoration: none;
  color: inherit; /* To ensure it inherits the color from its parent */
}

/* gallery */

.gallery{
 -webkit-column-count: 3; 
 -moz-column-count: 3;
 column-count: 3;
 -webkit-column-width: 33%;
 -moz-column-width: 33%;
 column-width: 33%;
 padding: 0 12px;
}

.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .pics:hover{
  filter: opacity(.8);
}

@media (max-width: 991px){
  .gallery{
    -webkit-column-count: 2; 
    -moz-column-count: 2;
    column-count: 2;
  
   }
}

@media (max-width: 480px){
  .gallery{
    -webkit-column-count: 1; 
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    
   }
}
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}




.model img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box; 
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
}

.close-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(240, 9, 9, 0.4);
  color: #ffffff;
  cursor: pointer;
  z-index: 1000;
}

/* slider */

.carpet-card{
  width:300px;
  height: 300px;
}